body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      background-color: #f1a6a6;
    }
    header, footer {
      background: #4d4141;
      color: #82df7a;
      padding: 15px;
      text-align: center;
    }
    main {
      display: flex;
      margin: 20px;
    }
    article {
      flex: 3;
      background: #b3dfec;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    aside {
      flex: 1;
      margin-left: 20px;
      background: #f4f4f4;
      padding: 15px;
      border-radius: 8px;
    }
    h1 {
      margin-top: 0;
    }
    .meta {
      font-size: 0.9em;
      color: #436796;
      margin-bottom: 15px;
    }
    footer {
      margin-top: 20px;
    }
    aside ul {
      list-style-type: none;
      padding: 0;
    }
    aside ul li {
      margin: 8px 0;
      
    }
    aside ul li a {
      text-decoration: none;
      color: #007BFF;
    }
    aside ul li a:hover {
      text-decoration: underline;
    }