 * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .con {
            width: 100%;
            height: 30%;
            padding: 20px;
            background-color: rgb(143, 252, 185);
        }

        .ver {
            background: url(../img/leone-venter-VieM9BdZKFo-unsplash.jpg) no-repeat center center;
            background-size: cover;
            padding: 80px;
            height: 505px;
            color: rgb(149, 8, 177);
            text-align: justify;
        }

        pre {
            margin-top: 10px;
            margin-left: 20px;
        }

        button {
            margin-top: 70px;
            padding: 5px;
            margin-left: 800px;
            width: 80px;
            background-color: rgb(143, 252, 185);
            display: flex;
            justify-content: center;
            border-radius: 5px;

        }