* {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .con {
            width: 100%;
            height: 20%;
            padding: 10px;
            background-color: rgb(221, 87, 87);
            
        }
        a{
            text-decoration: none;
            color: rgb(145, 40, 177);
        }
        nav {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;
        }
        nav a{
            color: rgb(90, 16, 124) ;
        }
        h1{
            color: rgb(33, 33, 129);
        }
        img{
            width: 35%;
            margin: 5px 300px;
            


        }
        .mat{
            height: 450px;
            /* background-color: rgb(143, 39, 99); */
            background: url(../img/leone-venter-VieM9BdZKFo-unsplash.jpg) no-repeat center center;
            background-size: cover;
        }
        h2{
            color: rgb(192, 123, 33);
            padding: 20px;
        }
        p{
            padding: 20px;
        }
        footer{
            padding: 14px;
            text-align: end;
            background-color: rgb(17, 204, 211);
        }