* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.con {


    background: url(../img/contact.jpg) no-repeat center center;
    background-size: cover;
    padding: 80px;
    height: 503px;
    color: rgb(149, 8, 177);
    text-align: justify;
}
h2{
    
    padding: 25px;
    text-align: center;
    background-color: rgb(81, 81, 129);
    color: rgb(170, 238, 12);
}input {
    height: 30px;
    width: 250px;
    border-color: transparent;
    margin-left: 10px;
    border-radius: 10px;

}
textarea{
     height: 60px;
    width: 250px;
    border-radius: 5px;
    border-color: transparent;
    margin-left: 230px;
}

label {
    height: 20px;
    margin-left: 150px;
    padding: 8px;
    color: rgb(15, 2, 129);
}

button {
    padding: 10px;
    width: 70px;
   margin-top: 30px;
   margin-left: 400px;

    border-radius: 5px;
    background-color: rgb(255, 243, 73);
    color: rgb(206, 67, 67);
}
a{
    text-decoration: none;
    color: rgb(182, 13, 13);
}