* Navigation container */
    nav {
      background-color: #333;
      padding: 10px;
      text-align: center;
    }

   
    nav a {
      color: #fff;                    
      text-decoration: none;
      margin: 0 15px;
      font-family: 'Arial', sans-serif; 
      font-size: 18px;                 
      font-weight: bold;              
      letter-spacing: 1px;             
      transition: color 0.3s ease;      
    }

    
    nav a:hover {
      color: #FFD700; 
    }

    
    nav a:visited {
      color: #3ce626; 
    }