body {
      font-family: Arial, sans-serif;
      background: #f9f9f9;
      align-items: center;
      height: 100vh;
      box-sizing: border-box;

    }
    header{
        height: 40px;
        margin: 10px;
        color: #0056b3;
        margin-left: 460px;
    }
    form {
      background: #fff;
      padding: 20px 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 350px;
      height: 700px;
      margin-left: 400px;
    }
    
    label {
      display: block;
      margin: 10px 0 5px;
      font-weight: bold;
    }
    input, select {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .gender {
      display: flex;
      gap: 15px;
      margin-bottom: 10px;
    }
    .checkbox {
      margin: 10px 0;
    }
    button {
      width: 100%;
      padding: 10px;
      background: #007BFF;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    button:hover {
      background: #0056b3;
    }